# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Gstreamer test files
*.i420

# For projects that use Waf for building: http://code.google.com/p/waf/
waf-*
.waf-*
.waf3-*
.lock-*
build
bundle_dependencies
last_config.sh

# Gnu Global tag files
GPATH
GRTAGS
GSYMS
GTAGS

# Emacs temp / auto save
\#*#
*~

#Eclipse ignore
.cproject
*.project
.metadata
local.properties
.classpath
.settings/

# Visual Studio ignore
*.bat
*.sln
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.log
VSProjects

# Vim swap files
*.swp
